.localizacao {
  padding-top: 3.75rem;

  @include media-down(medium-down) {
    padding-bottom: 3.75rem;
  }

  @include media-up(medium-up) {
    margin-bottom: -7.5rem;
  }

  &__container {
    display: grid;

    @include media-up(medium-up) {
      grid-template-columns: repeat(12, 1fr);
      gap: 1.875rem;
    }
  }

  &__content {
    text-align: center;

    @include media-down(medium-down) {
      margin-bottom: 1.875rem;
    }

    @include media-up(medium-up) {
      grid-column: 1 / 5;
      text-align: right;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      height: 1.125rem;
      background-color: var(--orange);
      z-index: 900;

      @include media-down(small-down) {
        left: -100%;
        width: 100%;
      }

      @include media-between(small-up, medium-down) {
        left: -100%;
        width: calc(100% + 2.5rem);
      }

      @include media-up(medium-up) {
        width: 10.625rem;
        right: -12.5rem;
      }
    }
  }

  &__map {
    height: 20.625rem;
    @include media-up(medium-up) {
      grid-column: 5 / 13;
      padding-left: 1.5rem;
      height: 39.625rem;
      position: relative;
      top: -11.25rem;
    }
  }
}
